---
inet256k:
  download: 256
  upload: 256
  unidad: m

inet512k:
  download: 512
  upload: 512
  unidad: k

inet1m:
  download: 1
  upload: 1
  unidad: m

inet3m:
  download: 3
  upload: 3
  unidad: m

inet5m:
  download: 5
  upload: 5
  unidad: m

inet6m:
  download: 6
  upload: 6
  unidad: m

inet8m:
  download: 8
  upload: 8
  unidad: m

inet10m:
  download: 10
  upload: 10
  unidad: m

inet15m:
  download: 15
  upload: 15
  unidad: m

inet20m:
  download: 20
  upload: 20
  unidad: m

inet25m:
  download: 25
  upload: 25
  unidad: m

inet30m:
  download: 30
  upload: 30
  unidad: m

inet40m:
  download: 40
  upload: 40
  unidad: m

inet50m:
  download: 50
  upload: 50
  unidad: m

inet100m:
  download: 100
  upload: 100
  unidad: m

inet200m:
  download: 200
  upload: 200
  unidad: m

inet300m:
  download: 300
  upload: 300
  unidad: m
